/* 
=============================================================================
RTL Styles
============================================================================= 
*/

body[dir="rtl"] {
    text-align: right;
}

/* Adjustments for navigation in RTL */
body[dir="rtl"] .navbar-nav {
    margin-right: auto !important;
    margin-left: 0 !important;
}

body[dir="rtl"] .footer-social a {
    margin-left: 15px;
    margin-right: 0;
}

/* Spacing utility resets for RTL */
body[dir="rtl"] .me-2 {
    margin-left: 0.5rem !important;
    margin-right: 0 !important;
}

body[dir="rtl"] .ms-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important;
}
